{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Geo DB API",
    "description": "Finally an easy-to-use developer-centric REST API for getting global city and region data. Easily obtain country, region, and city data for use in your apps! <ul><li>Filter cities by name prefix, country, location, and even minimum population.</li> <li>Get all country regions.</li> <li>Get all cities in a given region.</li> <li>Developer-friendly RESTful API adheres to industry best-practices, including HATEOS-style links to facilitate paging results.</li> <li>Backed by Amazon AWS load-balanced infrastructure for resiliency and performance!</li> <li>Data is periodically refreshed from GeoNames.org.</li></ul><p>Notes:<ul><li>All endpoints implicitly support JSONP-style invocation via an optional <tt>callback</tt> param.</li><li>Since the database is periodically updated, this may <strong>very rarely</strong> result in certain cities being marked deleted (e.g., duplicates removed). By default, endpoints returning city data will exclude cities marked deleted. However, in the unlikely event that this occurs while your app is paging through a set of affected results - and you care about the paged results suddenly changing underneath - specify <tt>includeDeleted=SINCE_YESTERDAY</tt> (or <tt>SINCE_LAST_WEEK</tt> if you're really paranoid!).</li></ul><p><i>License: Creative Commons, http://creativecommons.org/licenses/by/3.0/</i></p>",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    }
  },
  "host": "wft-geo-db.p.mashape.com",
  "schemes": ["https"],
  "produces": ["application/json"],
  "basePath": "/",
  "tags": [
    {
      "name": "Geo",
      "description": "Geo Endpoints"
    },
    {
      "name": "Locale",
      "description": "Locale Endpoints"
    }
  ],
  "paths": {
    "/v1/geo/cities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get cities",
        "description": "Get cities, filtering by optional criteria. If no criteria are set, you will get back all known cities with a population of at least 1000. (Currently over 115,000.) If countryCode is specified, the country info will be omitted in the response.",
        "operationId": "findCitiesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namePrefix",
            "in": "query",
            "description": "Only cities whose names start with this prefix",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Only cities in this country",
            "required": false,
            "type": "string"
          },
          {
            "name": "minPopulation",
            "in": "query",
            "description": "Only cities having at least this population",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nearLocation",
            "in": "query",
            "description": "Only cities near this location. Latitude/longitude in ISO-6709 format: ±DD.DDDD±DDD.DDDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "nearLocationRadius",
            "in": "query",
            "description": "The location radius within which to find cities",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nearLocationRadiusUnit",
            "in": "query",
            "description": "The location radius unit of distance: MI | KM",
            "required": false,
            "type": "string",
            "default": "MI"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Whether to include any cities marked deleted: ALL | SINCE_YESTERDAY | SINCE_LAST_WEEK | NONE",
            "required": false,
            "type": "string",
            "default": "NONE"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to retrieve",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-ary offset index into the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CitiesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/geo/cities/{cityId}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get city details",
        "description": "Get the details for a specific city, including location coordinates, population, and elevation above sea-level (if available).",
        "operationId": "getCityUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cityId",
            "in": "path",
            "description": "The city id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CityResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/geo/countries": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get countries",
        "description": "Get countries, filtering by optional criteria. If no criteria are set, you will get back all known countries.",
        "operationId": "getCountriesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currencyCode",
            "in": "query",
            "description": "Only countries supporting this currency",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to retrieve",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-ary offset index into the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/geo/countries/{countryCode}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get country details",
        "description": "Get the details for a specific country, including number of regions.",
        "operationId": "getCountryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "An ISO-3166 country code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountryResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/geo/countries/{countryCode}/regions": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get country regions",
        "description": "Get all regions in a specific country. These could be states, provinces, districts, or otherwise major political divisions.",
        "operationId": "getRegionsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "An ISO-3166 country code",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to retrieve",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-ary offset index into the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegionsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/geo/countries/{countryCode}/regions/{regionCode}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get region details",
        "description": "Get the details of a specific country region, including number of cities.",
        "operationId": "getRegionUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "An ISO-3166 country code",
            "required": true,
            "type": "string"
          },
          {
            "name": "regionCode",
            "in": "path",
            "description": "An HASC, ISO-3166, or FIPS region code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegionResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/geo/countries/{countryCode}/regions/{regionCode}/cities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get country region cities",
        "description": "Get the cities in a specific country region. The country and region info is omitted in the response.",
        "operationId": "findRegionCitiesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "An ISO-3166 country code",
            "required": true,
            "type": "string"
          },
          {
            "name": "regionCode",
            "in": "path",
            "description": "An HASC, ISO-3166, or FIPS region code",
            "required": true,
            "type": "string"
          },
          {
            "name": "minPopulation",
            "in": "query",
            "description": "Only cities having at least this population",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Whether to include any cities marked deleted: ALL | SINCE_YESTERDAY | SINCE_LAST_WEEK | NONE",
            "required": false,
            "type": "string",
            "default": "NONE"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to retrieve",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-ary offset index into the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CitiesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/locale/currencies": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get currencies",
        "description": "Get currencies, filtering by optional criteria. If no criteria are set, you will get back all known currencies.",
        "operationId": "getCurrenciesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "Only currencies supported by this country",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to retrieve",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-ary offset index into the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrenciesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/locale/locales": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get locales",
        "description": "Get all known locales",
        "operationId": "getLocalesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to retrieve",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-ary offset index into the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocalesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "CitiesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A list of CitySummaries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CitySummary"
          }
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        },
        "links": {
          "description": "A list of Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      }
    },
    "CityDetails": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "deleted": {
          "type": "boolean"
        },
        "elevationMeters": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "$ref": "#/definitions/GeoLocation"
        },
        "population": {
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        }
      }
    },
    "CityResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/CityDetails"
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        }
      }
    },
    "CitySummary": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        }
      }
    },
    "CountriesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A list of CountryDescriptors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CountryDescriptor"
          }
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        },
        "links": {
          "description": "A list of Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      }
    },
    "CountryDescriptor": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "currencyCode": {
          "description": "A ISO-4217 currency code",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CountryDetails": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "numRegions": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CountryResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/CountryDetails"
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        }
      }
    },
    "CurrenciesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A list of CurrencyDescriptors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrencyDescriptor"
          }
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        },
        "links": {
          "description": "A list of Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      }
    },
    "CurrencyDescriptor": {
      "type": "object",
      "properties": {
        "code": {
          "description": "A ISO-4217 currency code",
          "type": "string"
        },
        "countryCodes": {
          "description": "A list of ISO-3166 country codes",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GeoLocation": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "rel": {
          "type": "string"
        }
      }
    },
    "LocaleDescriptor": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "LocalesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A list of LocalDescriptors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocaleDescriptor"
          }
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        },
        "links": {
          "description": "A list of Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      }
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "RegionDetails": {
      "type": "object",
      "properties": {
        "capital": {
          "type": "string"
        },
        "countryCode": {
          "description": "An ISO-3166 country code",
          "type": "string"
        },
        "fipsCode": {
          "type": "string"
        },
        "hascCode": {
          "type": "string"
        },
        "isoCode": {
          "type": "string"
        },
        "name": {
          "description": "The well-known internationally recognized name for this region",
          "type": "string"
        },
        "numCities": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RegionResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/RegionDetails"
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        }
      }
    },
    "RegionSummary": {
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "An ISO-3166 country code",
          "type": "string"
        },
        "fipsCode": {
          "type": "string"
        },
        "hascCode": {
          "type": "string"
        },
        "isoCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "RegionsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A list of RegionSummaries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionSummary"
          }
        },
        "errors": {
          "description": "A list of WftErrors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WftError"
          }
        },
        "links": {
          "description": "A list of Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      }
    },
    "WftError": {
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/WftErrorCode"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "WftErrorCode": {
      "type": "string",
      "enum": ["ACCESS_DENIED", "ENTITY_NOT_FOUND", "PARAM_INVALID"]
    }
  }
}